@import "var";

@media all and (max-width: 960px) {
  .header {
    display: none;
  }

  .menu-box {
    position: relative;
    .icon-menu , .icon-search {
      display: block;
      border: none;
    }
    .menu, .search {
      display: none;
      position: absolute;
      left: 0;
    }
    .icon-search {
      position: absolute;
      right: 15px;
      top: 0;
    }

    .menu {
      width: 50%;
      background-color: $light-black;
      z-index: 999;
      li {
        float: none;
      }
    }
    .search {
      z-index: 998;
      top: 40px;
      width: 100%;
      padding: 0 15px;
      box-sizing: border-box;
      background-color: $light-black;
      .input {
        width: 100%;
        margin: 10px 0;
        line-height: 28px;
      }
    }
  }

  .content {
    padding-right: 0;
  }
  .log_list_item {
    padding-left: 15px;
    .title {
      margin: 10px 0;
    }
    .pic-link {
      width: 100%;
      position: initial;
    }
  }
  .sidebar {
    position: initial;
    width: 100%;
    margin-top: 30px;
  }
  .footer {
    .widget {
      width: 100%;
    }
  }
}