* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 'Arial','Microsoft YaHei';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.container {
  display: block;
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
}

.pull-right {
  float: right;
}

@keyframes bling {
  0% {
    background-position: -3px 0;
  }
  100% {
    background-position: -663px 0;
  }
}

.gold-v {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/steps_gold_v.png) no-repeat -3px 0;
  background-size: cover;

  -webkit-animation-name: bling;
  -moz-animation-name: bling;
  -ms-animation-name: bling;
  -o-animation-name: bling;
  animation-name: bling;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;

  -webkit-animation-timing-function: steps(24, end);
  -moz-animation-timing-function: steps(24, end);
  -ms-animation-timing-function: steps(24, end);
  -o-animation-timing-function: steps(24, end);
  animation-timing-function: steps(24, end);


  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}

.avatar {
  display: inline-block;
  position: relative;
  line-height: 1;
  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  .gold-v {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.header {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 1) url("../images/snowberg.jpg") no-repeat center bottom;
  color: #eee;
  .avatar {
    float: left;
    margin-top: 50px;
    margin-right: 15px;
    img {
      border: 4px solid #fff;
      width: 86px;
      height: 86px;
      &:hover {
        border-color: #fa7d3c;
      }
    }
  }
  .userinfo {
    float: left;
  }
  .username {
    margin-top: 50px;
    font-size: 22px;
    padding-left: 15px;
  }
  .userdesc {
    padding-left: 15px;
    color: #999;
  }
  .count {
    margin-top: 10px;
    overflow: hidden;
    .item {
      float: left;
      list-style-type: none;
      padding: 0 15px;
      border-right: 1px solid #999;
      color: #999;
      text-align: center;
      .num {
        color: #fa7d3c;
      }
      &:last-of-type {
        border-right: none;
      }
    }
  }
  .third-entry {
    float: right;
    margin-top: 76px;
    a {
      margin-left: 10px;
    }
  }
}

.input {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 0 5px;
  line-height: 24px;
  &:focus {
    outline: none;
    background-color: #eee;
  }
}

.menu-box {
  background-color: #1F2D3D;
  color: #8492A6;
  a {
    color: #8492A6;
  }
  .menu {
    float: left;
  }
  .menu-item {
    float: left;
    list-style-type: none;
    a {
      display: block;
      text-decoration: none;
      height: 42px;
      line-height: 42px;
      padding: 0 15px;
    }
    &:hover, &.active {
      background-color: #FF4949;
      a {
        color: #fff;
      }
    }
  }
  &:after {
    display: block;
    content: '';
    clear: both;
  }
  .input {
    margin-top: 7px;
  }
}