/**
 * 颜色变量
 * 说明：
 *  1. 按照注释，了解每个颜色的大致用途
 *  2. chrome开发工具，找到要修改颜色的选择器
 *  3. 在src/css目录中，找到该选择器，并最终确定该元素用的那个颜色。
 *  4. 可直接使用本文件中的颜色替换该颜色，也可以在本文件中修改相应颜色。
 *  5. 修改本文件中的颜色，可能影响的不止一处，需慎重考虑。
 *  6. 如仅需修改那一处颜色，可直接在scss文件中填入目标颜色，而不使用本文件中的变量。
 *  7. 建议使用变量，可使页面颜色可控、统一。
 *  8. 修改后，需在命令行运行 gulp build
 *  9. 可先百度搜索gulp使用教程
 */

/**
 * 主色调
 */
$primary: #409EFF;

/**
 * 主色调加深4%, 主要跟主色调产生对比
 */
$dark-primary: darken($primary, 4%);

/**
 * 主色调变浅4%
 */
$light-primary: lighten($primary, 4%);

/**
 * 用于footer背景，及某些字体颜色
 */
$black: #3e3f40;
$dark-black: #07111B;

/**
 * 用于警告或重点提示
 */
$red: #FF4949;

/**
 * 1.按钮背景 2.文本默认颜色
 */
$light-black: lighten($black, 4%);

/**
 * 标签背景
 */
$extra-light-black: #5a5a5a;

/**
 * 默认背景色
 */
$dark-white: #f4f5f5;

/**
 * 多用于边框颜色
 */
$extra-light-grey: #EFF2F7;

/**
 * 一些不太显眼的字体颜色
 */
$sliver: #8492A6;

/**
 * 多用于链接的hover颜色
 */
$blue: #20A0FF;

/**
 * 深颜色边框
 */
$light-grey: #E5E9F2;
