html, body, h1, h2, h3, h4, h5, h6, p, img, ul, li, ol {
  margin: 0;
  padding: 0;
}

body {
  //font: 14px/1.5 Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, sans, 'Arial';
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: $dark-white;
  color: $light-black;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Arial', Microsoft Yahei, sans-serif;
  font-size: inherit;
}

img {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
}

li {
  list-style-type: none;
}

input, textarea {
  appearance: none;
  font-size: inherit;
}
.bold {
  font-weight: bold;
}
.separation {
  height: $separation;
}
.container {
  display: block;
  width: 1090px;
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
}

.pull-right, .fr {
  float: right;
}

.clearfix, .clear {
  clear: both;
}

.gold-v {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/steps_gold_v.png) no-repeat;
  background-size: cover;
}

// 移动端菜单图标
.icon-menu {
  display: block;
  width: 30px;
  .icon-menu-item {
    display: block;
    height: 1px;
    background-color: $sliver;
    margin: 0 0 8px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// 页头的统计信息
.count {
  overflow: hidden;
  .item {
    float: left;
    list-style-type: none;
    color: inherit;
    margin-right: 15px;
  }
}

#browsehappy {
  text-align:center;
  background:#ff0;
}
.readmore {
  display: none;
}

.row {
  margin: -5px;
  &:after {
    display: block;
    content: '';
    overflow: hidden;
    clear:both;
  }
}
.col-md-4 {
  float: left;
  width: 33.33%;
  padding: 5px;
  box-sizing: border-box;
}

// 首页幻灯片
.swiper-container {
  margin-top: 20px!important;
  margin-bottom: 20px!important;
  height: 280px;
  background: #fff;
  padding: 20px 20px 44px!important;
  box-sizing: border-box;
  @include box-shadow-normal;
  .swiper-slide {
    box-sizing: border-box;
    position: relative;
  }
  .log-img {
    overflow: hidden;
    height: 100%;
  }
  img {
    width: 100%;
  }
  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 102, 153, 0.75);
    color: #fff;
    padding: 5px 20px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev,
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    top: auto;
    bottom: 0;
    background-size: 15px;
  }
}

.b-tag {
  display: inline-block;
  line-height: 2;
  a {
    margin-left: 5px;
    margin-right: 5px;
    color: #00a2ff;
    display: inline-block;
  }
}
.log-info {
  i {
    font-style: normal;
  }
  .b-tag a {
    color: #00a2ff;
  }
}

.copyright-notice {
  margin-bottom: 1em;
  color: #000;
  background: #f2f7fb;
  padding: 10px;
  a {
    text-decoration: underline;
  }
}