html, body, h1, h2, h3, h4, h5, h6, p, img, ul, li, ol {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.5 Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, sans, 'Arial';
  -webkit-font-smoothing: antialiased;
  background-color: $dark-white;
  color: $light-black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Arial', Microsoft Yahei, sans-serif;
  font-size: inherit;
}

img {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
}

li {
  list-style-type: none;
}

input, textarea {
  appearance: none;
  font-size: inherit;
}
.container {
  display: block;
  width: 1166px;
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
}

.pull-right, .fr {
  float: right;
}

.clearfix, .clear {
  clear: both;
}

.gold-v {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/steps_gold_v.png) no-repeat;
  background-size: cover;
}

// 移动端菜单图标
.icon-menu {
  display: block;
  width: 30px;
  .icon-menu-item {
    display: block;
    height: 1px;
    background-color: $sliver;
    margin: 0 0 8px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// 页头的统计信息
.count {
  overflow: hidden;
  .item {
    float: left;
    list-style-type: none;
    color: inherit;
    margin-right: 15px;
  }
}

#browsehappy {
  text-align:center;
  background:#ff0;
}
.readmore {
  display: none;
}

.row {
  overflow: hidden;
  margin: -5px;
}
.col-md-4 {
  float: left;
  width: 33.33%;
  padding: 5px;
  box-sizing: border-box;
}