html, body, h1, h2, h3, h4, h5, h6, p, img, ul, li, ol {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.5 Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, sans, 'Arial';
  -webkit-font-smoothing: antialiased;
  background-color: $extra-light-grey;
  color: $light-black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Arial', Microsoft Yahei, sans-serif;
  font-size: inherit;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  display: block;
  width: 1166px;
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
}

.pull-right {
  float: right;
}

.clearfix, .clear {
  clear: both;
}

.gold-v {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/steps_gold_v.png) no-repeat;
  background-size: cover;
}

// 输入框
.input {
  border: 1px solid transparent;
  padding: 8px 10px;
  line-height: 14px;
  outline: none;
  color: inherit;
  appearance: none;
  &:focus {
    border-bottom-color: $blue;
  }
}

// 移动端菜单图标
.icon-menu {
  display: block;
  width: 30px;
  .icon-menu-item {
    display: block;
    height: 1px;
    background-color: $sliver;
    margin: 0 0 8px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// 页头的统计信息
.count {
  overflow: hidden;
  position: relative;
  left: -15px;
  .item {
    float: left;
    list-style-type: none;
    padding: 0 15px 1.5em;
    border-right: 1px solid $extra-light-black;
    color: inherit;
    position: relative;
    text-align: center;
    .tit {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:last-of-type {
      border-right: none;
    }
  }
}

#browsehappy {
  text-align:center;
  background:#ff0;
}