#tw {
  background-color: #fff;
  padding: 50px;
  ul {
    padding-left: 150px;
  }
  li {
    border-left: 1px solid #f0f1f1;
    padding: 30px;
    position: relative;
  }
  .time {
    position: absolute;
    left: -150px;
  }
  .text {
    padding: 15px;
    background-color: #f4f5f5;
    .img {
      display: inline-block;
      margin: 15px 0;
    }
  }
  .avatar {
    position: absolute;
    top: 30px;
    left: -22px;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    overflow: hidden;
    border: 1px solid #fff;
    transition: all .3s;
    img {
      width: 100%;
      height: 100%;
    }
  }
  li:hover .avatar {
    border-color: #0e9eff;
    transform: scale(1.1);
  }
}

@media all and (max-width: 960px) {
  #tw {
    padding-right: 15px;
  }
  #tw ul {
    padding-left: 0;
  }
  #tw li {
    padding-right: 0;
  }
  #tw .time {
    position: static;
    margin-bottom: 5px;
  }
}
