#tw {
  background-color: #fff;
  @include box-shadow-normal;
}

#tw .main_img {
  float: left;
}

#tw .op {
  float: left;
  height: 18px;
  margin: 6px 5px 3px;
}

#tw ul {
  line-height: 1.8;
  padding: 15px 25px;
}

#tw ul .li {
  padding: 10px 0;
  border-bottom: #F7F7F7 1px solid;
  position: relative;
}

#tw ul .main_img {
  margin-top: 5px;
  position: absolute;
  left: 0;
}
#tw ul .main_img img {
  width: 48px;
  height: 48px;
}

#tw ul .post1 {
  font-size: 13px;
  padding-left: 64px;
}

#tw ul .bttome {
  margin: 3px 0;
  vertical-align: middle
}

#tw ul li .bttome .time {
  line-height: 14px;
  margin: 0;
  font-size: 12px;
  color: #999999;
}

#tw ul li .bttome .post {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  text-align: right;
}
#tw ul li .bttome .post a {
  color: #666;
}
#tw ul .r {
  margin: 10px 0;
  color: #666666;
  padding: 0;
  display: none;
}

#tw ul .r li {
  padding: 10px 0;
  border-bottom: #F7F7F7 1px solid;
}

#tw ul .r .num {
  font-size: 16px;
  font-weight: bold;
  color: #0079b7;
  padding: 0 5px;
  float: left;
  width: 20px;
}

#tw ul .r .time {
  padding: 0 5px;
}

#tw ul .r .name {
  padding: 0;
  font-size: 12px;
  color: #336699;
}

#tw ul .r em a {
  font-style: normal;
}

#tw ul .huifu {
  background: #F5F5F5;
  border: #CCCCCC solid 1px;
  display: none;
  padding: 10px;
}

#tw ul .huifu textarea {
  width: 100%;
  border: #CCCCCC solid 1px;
  overflow: auto;
  box-sizing: border-box;
  display: block;
}

#tw ul .huifu div {
  padding: 10px 0;
}

#tw ul .button_p {
  background: #FF4949;
  border: 0;
  cursor: pointer;
  _cursor: hand;
  width: 63px;
  height: 25px;
}

#tw .tbutton {
  font-size: 12px;
  float: none;
  margin-bottom: 3px;
}

#tw .tbutton .btn {
  background: #FF4949;
  width: 90px;
  position: relative;
  top: -7px;
  left: 10px;
}

#tw .tbutton .button_p {
  border: 0;
  cursor: pointer;
  _cursor: hand;
  width: 60px;
  height: 25px;
}

#tw .tbutton .tinfo {
  float: left;
}

#tw .msg {
  clear: both
}

#tw ul .huifu textarea {
  background-color: #FFFFFF;
}

#tw ul li ul {
  line-height: 0;
  font-size: 0;
}

#tw ul li ul li {
  font-size: 12px;
  line-height: 22px;
}
#tw p .t_img {
  padding: 0 7px;
  margin: 0 0 0 10px;
}