// 输入框
.input {
  width: 100%;
  border: 1px solid transparent;
  padding: 8px 10px;
  line-height: 14px;
  outline: none;
  color: inherit;
  appearance: none;
  box-sizing: border-box;
  border-bottom-color: $light-grey;
  &:focus {
    border-bottom-color: $blue;
  }
}

//表单
.form-group {
  margin-bottom: 15px;
  label {
    display: block;
    margin-bottom: 5px;
  }
  input,
  textarea {
    border-color: $light-grey;
    &:focus {
      background-color: $dark-white;
    }
  }
  textarea {
    width: 100%;
  }
  .verify-code .input {
    width: 120px;
    margin-left: 10px;
  }
  .btn {
    margin-top: 20px;
  }
}

//按钮
.btn {
  background: $extra-light-black;
  border: 0;
  color: #fff;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}
.btn:hover {
  background-color: $light-black;
}