/* 头部样式 Author: jaeheng */
.header {
  height: 220px;
  background: $primary no-repeat center;
  background-image: url("../images/banner/banner1.jpg");
  background-size: cover;
  text-shadow: 0 0 1px #000;
  color: $dark-white;
  margin-bottom: 15px;
  .avatar {
    float: left;
    margin-top: 70px;
    margin-right: 30px;
    width: 76px;
    height: 76px;
    position: relative;
    .img {
      overflow: hidden;
      background-color: #fff;
      padding: 10px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
    }
    &:hover img {
      transition: all .3s;
      transform: scale(1.2)
    }
    .gold-v {
      position: absolute;
      bottom: -5px;
      right: -5px;
    }
  }
  .username {
    padding-top: 70px;
    font-size: 18px;
    img {
      margin-left: 10px;
      width: 18px;
      height: 18px;
    }
  }
  .count {
    margin-top: 15px;
  }
  .title {
    text-align: center;
    font-size: 36px;
    line-height: 220px;
  }
}