// 普通列表
.log_list_item {
  position: relative;
  background-color: #fff;
  padding: 16px 16px 16px 116px;
  overflow: hidden;
  border-bottom: 1px solid $extra-light-grey;
  .pic-link {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 99;
    display: block;
    overflow: hidden;
    border-radius: 6px;
    font-size: 0;
    border: 1px solid #f3f3f3;
    img {
      width: 64px;
      height: 64px;
      transition: all 1s;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  .title {
    background-color: transparent;
    padding: 0;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    img {
      width: 16px;
      height: 16px;
    }
  }
  .description, .info {
    color: $extra-light-black;
  }
  .description {
    margin: 10px 0;
    line-height: 1.8;
    img {
      width: 100%;
      height: auto;
    }
  }
  .info {
    font-size: 12px;
    line-height: 40px;
    box-sizing: border-box;
    .iconfont {
      font-size: 12px;
    }
    .icon-tongji, .icon-comment {
      margin-left: 20px;
    }
  }
  .log-tag {
    line-height: 1;
    &:hover {
      opacity: .9;
    }
  }
}

// 单列列表
.log_list_single {
  .log_list_item {
    min-height: inherit;
    padding-left: 15px;
    .pic-link {
      position: static;
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
      &:hover img {
        width: 100%;
      }
    }
  }
}

// 双列列表
.log_list_2 {
  .log_list_item {
    float: left;
    width: 49.5%;
    box-sizing: border-box;
    &:nth-of-type(2n-1) {
      margin-right: 1%;
    }
    .title {
      min-height: 60px;
    }
  }
}

// 三列列表
.log_list_three {
  .log_list_item {
    min-height: auto;
    padding-left: 140px;
  }
  .x-info {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 110px;
  }
}

// 图片形式列表
.log_list_img, .log_list_mv {
  .log_list_item {
    float: left;
    width: 32.33%;
    box-sizing: border-box;
    padding: 15px 15px 56px 15px;
    margin-right: 1.5%;
    margin-bottom: 10px;
    height: 280px;
    vertical-align: bottom;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
  .img-link {
    display: block;
    position: relative;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
    &:hover {
      transition: all .5s;
      opacity: .8;
    }
  }
  .info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    .fr {
      float: none;
      position: absolute;
      right: 15px;
    }
  }
}
.log_list_mv .info {
  padding: 0 53.69px 0 15px;
}
.log_list_img .info {
  padding: 0 102px 0 0;
}

// 视频形式列表
.log_list_mv {
  .play {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    transition: all .5s;
    .iconfont {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -25px;
      margin-left: -20px;
      color: #fff;
      font-size: 50px;
      line-height: 1;
    }
  }
  .log_list_item:hover .play {
    display: block;
  }
}

.bread-header {
  color: #fff;
  text-align: center;
  background-color: #000000;
  padding: 36px 0;
  box-sizing: border-box;
  .title {
    line-height: 1;
    font-size: 24px;
    animation: slideDown 0.5s;
  }
  .desc {
    text-align: center;
    margin-top: 0.5em;
    animation: slideUp 0.7s;
    line-height: 1.5;
  }
}
// ias分页
.log-loading {
  text-align: center;
  padding: 15px 0;
}
.x-info {
  overflow: hidden;
  .item {
    width: 55px;
    float: left;
    text-align: center;
  }
  span {
    display: block;
    font-weight: bold;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.search-list {
  background: #fff;
  padding: 30px;
  h1 {
    font-size: 24px;
    margin-bottom: 1em;
    font-weight: bold;
  }
}
.search-list-item {
  border-bottom: 1px dashed #eee;
  padding: 5px 0;
  height: 28px;
  white-space: nowrap;
  .log-tag {
    margin: 0 15px 0 0;
  }
}