/* 头部 */
.header {
  height: 200px;
  background: $light-black url("../images/snowberg.jpg") no-repeat center bottom;
  color: $dark-white;
  .avatar {
    float: left;
    margin-top: 50px;
    margin-right: 30px;
    width: 76px;
    height: 76px;
    position: relative;
    .img {
      overflow: hidden;
      background-color: #fff;
      border-radius: 50%;
      border: 4px solid #fff;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      transition: all .3s;
    }
    &:hover img {
      transform: scale(1.2)
    }
    .gold-v {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .userinfo {
    float: left;
  }
  .username {
    margin-top: 50px;
    font-size: 18px;
    img {
      margin-left: 10px;
      width: 18px;
      height: 18px;
    }
  }
  .userdesc {
    color: $sliver;
    font-size: 12px;
  }
  .count {
    margin-top: 10px;
    overflow: hidden;
    .item {
      float: left;
      list-style-type: none;
      padding: 0 20px;
      border-right: 1px solid $extra-light-black;
      color: $sliver;
      .num {
        color: $danger;
      }
      &:last-of-type {
        border-right: none;
      }
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
  .third-entry {
    display: none;
    float: right;
    margin-top: 50px;

    a {
      margin-left: 10px;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}

/* 导航栏 */
.menu-box {
  background-color: $black;
  a {
    color: $sliver;
    white-space: nowrap;
  }
  .menu {
    float: left;
    line-height: 50px;
  }
  .menu-item {
    float: left;
    position: relative;
    a {
      display: block;
      text-decoration: none;
      padding: 0 20px;
    }
    &:hover, &.active {
      transition: all .3s;
      a {
        color: #fff;
        background-color: $light-black;
      }
    }
    &:hover .sub-nav,
    a:focus + .sub-nav {
      display: block;
    }

    .sub-nav {
      position: absolute;
      z-index: 999;
      background-color: $light-black;
      display: none;
      a {
        &:hover {
          background-color: $black;
        }
      }
    }
  }
  .input {
    margin-top: 10px;
    background-color: $black;
    color: lighten($extra-light-black, 10%);
    &:focus {
      background-color: #fff;
      color: $extra-light-black;
    }
  }
  .icon-menu, .icon-search {
    display: none;
  }
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

/* 面包屑导航 */
.breadthumb {
  padding: 15px 0;
  .bread-item {
    color: $light-black;
    margin-right: 5px;
    &:after {
      content: ' >';
      color: #b2b2b2;
    }
    &:last-of-type:after {
      content: '';
    }
    &:hover {
      color: $danger;
    }
  }
}

.main {
  position: relative;
}

.content-wrap {
  float: left;
  width: 100%;
}

.content {
  padding-right: 375px;
}
.log_list_item {
  background-color: #fff;
  list-style-type: none;
  margin-bottom: 15px;
  position: relative;
  padding: 15px 15px 15px 250px;
  min-height: 150px;
  .tag {
    background-color: $extra-light-black;
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 3px 10px;
    color: #fff;
    z-index: 100;
    a {
      color: #fff;
    }
  }
  .pic-link {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 99;
    display: block;
    border: none;
    width: 220px;
    height: 150px;
    overflow: hidden;
    img {
      width: 100%;
      transition: all .5s;
    }
    &:hover {
      img {
        width: 120%;
      }
    }
  }
  a {
    color: $light-black;
    text-decoration: none;
    &:hover {
      color: $danger;
    }
  }
  .title {
    background-color: transparent;
    padding: 0;
    font-style: normal;
    img {
      width: 16px;
      height: 16px;
    }
    a {
      font-size: 18px;
    }
  }
  .description, .info {
    color: $extra-light-black;
  }
  .description {
    margin: 10px 0;
    line-height: 1.8;
    img {
      width: 100%;
      height: auto;
    }
  }
  .info {
    font-size: 12px;
    .iconfont {
      font-size: 12px;
    }
  }
}

.label {
  display: inline-block;
  margin-right: 5px;
  background-color: $extra-light-black;
  color: #fff!important;
  padding: 0 10px;
  font-size: 12px;
  &.label-tag:nth-of-type(n),
  &.label-success {
    background-color: $green;
  }
  &.label-tag:nth-of-type(2n),
  &.label-danger {
    background-color: $danger;
  }
  &.label-tag:nth-of-type(3n),
  &.label-info {
    background-color: $blue;
  }
}

.pagination {
  text-align: center;
  font-size: 0;
  margin-top: 15px;
  a, span {
    font-size: 14px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    text-decoration: none;
    color: $light-black;
    background-color: #fff;
  }
  span, a:hover {
    background-color: $danger;
    color: #fff!important;
  }
}

.sidebar {
  width: 360px;
  float: left;
  margin-left: -360px;
}

//footer
.footer {
  margin-top: 30px;
  padding: 30px 0;
  background-color: $light-black;
  color: $dark-white;
  a {
    color: #fff;
    &:hover {
      color: $danger;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .widget {
    float: left;
    width: 33.3%;
    background-color: transparent;
    padding: 0 15px;
    box-sizing: border-box;
    h3 {
      border-color: $sliver;
      &:after {
        display: none;
      }
    }
  }
  .topic-item {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.copyright {
  text-align: center;
  padding: 30px 0;
  background-color: $black;
  color: $extra-light-black;
  a {
    color: $extra-light-black;
    &:hover {
      color: #fff;
    }
  }
}

$tools-item-width: 50px;
.site-tools {
  position: fixed;
  bottom: 50%;
  right: 30px;
  margin-bottom: -2*$tools-item-width;
  .item {
    display: block;
    background-color: #fff;
    width: $tools-item-width;
    height: $tools-item-width;
    line-height: $tools-item-width;
    text-align: center;
    position: relative;
    &:hover, &.active {
      background-color: $danger;
      .iconfont {
        color: #fff;
      }
    }
    .popup {
      display: none;
      position: absolute;
      right: 50px;
      top: 0;
      background: #fff;
      padding: 5px;
      border: 1px solid #eee;
      .title {
        line-height: 1.5;
        margin: 0;
        text-align: center;
        color: $light-black;
      }
    }
    &:hover .popup {
      display: block;
    }
  }
  .gotoup {
    display: none;
    cursor: pointer;
  }
  .iconfont {
    font-size: 22px;
    color: $extra-light-black;
  }
}

//panel
.panel {
  background-color: #fff;
  a {
    color: $light-black;
    &:hover {
      color: $danger;
    }
  }
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}
.panel-body {
  padding: 15px;
}
.content .panel {
  margin-bottom: 15px;
}

//log
.log-info {
  color: $sliver;
  margin: 15px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  a {
    color: $sliver;
  }
}
.log-title {
  color: $extra-light-black;
  font-size: 20px;
  font-weight: bold;
}
.log-body {
  p, strong, h2, h3{
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.8;
  }
  strong, h2, h3, h4 {
    font-weight: bold;
  }
  a {
    color: $light-black;
    &:hover {
      color: $danger;
    }
  }
}
.relief {
  text-indent: 2em;
}
.author {
  position: relative;
  padding-left: 70px;
  .avatar {
    position: absolute;
    left: 15px;
    width: 40px;
    height: 40px;
  }
  .author-desc {
    margin-bottom: 10px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}

#related_log {
  line-height: 1.8;
  p{
    margin-bottom: 0;
  }
  .time {
    display: inline-block;
  }
}

//neighbor
.neighbor {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .prev, .next {
    width: 50%;
    float: left;
  }
}

.log-comments {
  li {
    margin-bottom: 20px;
  }
}

.comment-box .comment-header {
  margin: 0 0 15px;
  font-weight: bold;
}
.comment-box .comment {
  padding: 20px 0 20px 74px;
  font-size: 12px;
  border-bottom: 1px #f7f7f7 solid;
  overflow: hidden;
  color: #333;
  height: 100%;
  zoom: 1;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.comment-box .comment .avatar {
  position: absolute;
  left: 0;
}
.comment-box .comment .avatar img {
  width: 54px;
  height: 54px;
}
.comment-box .comment .comment-children {
  background-color: #F2F7F8;
  padding-top: 10px;
  padding-bottom: 10px;
}
.comment-box .comment .comment-children .avatar {
  left: 10px;
}
.comment-box .comment .comment-time {
  color: #999999;
  display: inline;
}
.comment-box .comment .comment-content {
  margin: 10px 0;
}
.comment-box .comment .comment-post {
  margin: 15px 15px 0 0;
  background-color: #fff;
  padding: 15px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
}
.form-group input,
.form-group textarea {
  padding: 5px 10px;
  border: 1px #eee solid;
  border-radius: 4px;
  color: #333;
  width: 50%;
  font-size: 12px;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
.form-group textarea {
  width: 100%;
}
.btn {
  background: #FF2C3C;
  border: 0;
  color: #fff;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
  _cursor: hand;
  border-radius: 4px;
}
.btn:hover {
  background-color: #ff7983;
}
.btn.btn-block {
  display: block;
}

#tw {
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px;
}
#tw ul {
  margin: 0;
  line-height: 1.8;
  padding: 0 15px;
}
#tw ul .li {
  padding: 10px 0;
  border-bottom: #F7F7F7 1px solid;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
#tw .main_img {
  float: left;
  padding-top: 5px;
}
#tw .main_img img {
  border: 1px #fff solid;
}
#tw ul li .post1 {
  float: right;
  font-size: 13px;
  width: 580px;
}
#tw ul li .post1 h3 {
  font-weight: bold;
}
#tw ul li .bttome {
  margin: 5px 0;
}
#tw ul li .bttome .time {
  float: left;
  width: 50%;
  line-height: 14px;
  font-size: 12px;
  margin: 0;
}
#tw ul li .bttome .post {
  float: right;
  width: 50%;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  text-align: right;
}
#tw ul li {
  clear: both;
  padding: 0;
  margin: 0;
}
#tw ul .r {
  margin: 0 0 0 74px;
  color: #666666;
  border: 0;
  padding: 0;
}
#tw ul .r li {
  padding: 5px 3px 3px;
  border-bottom: #F7F7F7 1px solid;
  width: 475px;
}
#tw ul .r .num {
  font-size: 16px;
  font-weight: bold;
  color: #0079b7;
  padding: 0px 5px;
  float: left;
  width: 20px;
}
#tw ul .r .name {
  padding: 0;
  font-size: 12px;
  color: #336699;
}
#tw ul .r em a {
  font-style: normal;
}
#tw ul .huifu {
  margin: 0 0 0 74px;
  background: #F5F5F5;
  border: #CCCCCC solid 1px;
  text-align: center;
  display: none;
}
#tw ul .huifu textarea {
  margin: 5px;
  width: 460px;
  border: #CCCCCC solid 1px;
  overflow: auto;
}
#tw ul .huifu input {
  margin: 0 5px;
}
#tw ul .huifu div {
  padding: 0 5px;
  text-align: center;
}
#tw ul .huifu .text {
  width: 60px;
}
#tw ul .button_p {
  border: 0;
  cursor: pointer;
  _cursor: hand;
  width: 63px;
  height: 25px;
}
#tw .tbutton {
  font-size: 12px;
  float: none;
  margin-bottom: 3px;
}
#tw .tbutton input {
  width: 90px;
  border: #CCCCCC solid 1px;
}
#tw .tbutton .button_p {
  border: 0;
  cursor: pointer;
  _cursor: hand;
  width: 60px;
  height: 25px;
}
#tw .tbutton .tinfo {
  float: left;
}
#tw .msg {
  clear: both;
}
#tw li {
  list-style: none;
}
#tw ul .huifu textarea {
  background-color: #FFFFFF;
}
#tw ul .huifu input {
  background-color: #FFFFFF;
}
#tw ul li ul {
  line-height: 0;
  font-size: 0;
}
#tw ul li ul li {
  font-size: 12px;
  line-height: 22px;
}
#tw .top {
  width: 650px;
}
#tw ul .r li {
  width: 565px;
}
#tw ul .huifu textarea {
  width: 550px;
}
#tw p .t_img {
  background: url(../images/img.gif) no-repeat;
  padding: 0 7px;
  margin: 0 0 0 10px;
}