/* 面包屑导航 */
.breadthumb {
  padding: 15px 0;
  .bread-item {
    color: $light-black;
    margin-right: 5px;
    &:after {
      content: ' >';
      color: #b2b2b2;
    }
    &:last-of-type:after {
      content: '';
    }
  }
}

.main {
  position: relative;
}

.content-wrap {
  float: left;
  width: 100%;
}

.content {
  padding-right: 375px;
}

// 标签
.tag {
  background-color: $extra-light-black;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
}

// 分页
.pagination {
  font-size: 0;
  margin: 25px auto 0;
  text-align: center;
  a, span {
    box-shadow: 0 2px 5px 0 rgba(146,146,146,.1);
    background-color: #fff;
    font-size: 14px;
    display: inline-block;
    margin: 0 2px;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    text-decoration: none;
  }
  span, a:hover {
    background-color: $light-grey;
  }
}

.sidebar {
  width: 360px;
  float: left;
  margin-left: -360px;
}

//footer
.footer {
  margin-top: 30px;
  padding: 30px 0;
  background-color: $light-black;
  color: $dark-white;
  overflow: hidden;
  .widget {
    float: left;
    width: 33.3%;
    background-color: transparent;
    padding: 0 15px;
    box-sizing: border-box;
    box-shadow: none;
    h3 {
      border-color: $extra-light-black;
      &:after {
        display: none;
      }
    }
  }
  .topic-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.copyright {
  text-align: center;
  padding: 30px 0;
  background-color: $black;
  color: $extra-light-black;
}

.site-tools {
  position: fixed;
  bottom: 50%;
  right: 30px;
  margin-bottom: -2 * $tools-item-width;
  box-shadow: 0 2px 5px 0 rgba(146,146,146,.1);
  .item {
    display: block;
    background-color: #fff;
    width: $tools-item-width;
    height: $tools-item-width;
    line-height: $tools-item-width;
    text-align: center;
    position: relative;
    &:hover, &.active {
      background-color: $light-primary;
      .iconfont {
        color: #fff;
      }
      .popup {
        height: auto;
        border: 1px solid $extra-light-grey
      }
    }
    .popup {
      position: absolute;
      right: 50px;
      top: 0;
      background: $extra-light-grey;
      height: 0;
      overflow: hidden;
      img {
        float: left;
      }
      .title {
        text-align: center;
        color: $light-black;
      }
    }
  }
  .gotoup {
    display: none;
    cursor: pointer;
  }
  .iconfont {
    font-size: 22px;
    color: $extra-light-black;
  }
}

//panel
.panel {
  background-color: #fff;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}
.panel-body {
  padding: 20px;
}
.content .panel {
  margin-bottom: 15px;
  box-shadow: 0 8px 25px 0 rgba(146,146,146,0.21);
}

//log
.log-info {
  color: $sliver;
  border-bottom: 1px solid $light-grey;
  padding: 10px 0 15px;
  text-align: center;
  a {
    color: $sliver;
  }
  .iconfont {
    margin-right: 5px;
  }
  span {
    margin-right: 20px;
  }
}
.log-title {
  color: $extra-light-black;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.log-body {
  padding: 20px 0;
  line-height: 2;
  p, strong {
    margin-bottom: 1em;
    font-size: 16px;
  }
  h3, h4, h5, h6 {
    margin-bottom: 2em;
    font-size: 18px;
    word-break: break-all;
  }
  strong, h3, h4, h5, h6 {
    font-weight: bold;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  pre {
    white-space: pre-wrap;
  }
  .code {
    background-color: $dark-white;
    padding: 20px;
    border-radius: 4px;
  }
  ol, ul {
    padding-left: 20px;
  }
  li {
    list-style: decimal;
    margin-bottom: 1em;
    p {
      display: inline;
    }
  }
}
.author {
  position: relative;
  padding-left: 70px;
  .avatar {
    position: absolute;
    left: 15px;
    width: 40px;
    height: 40px;
  }
  .author-desc {
    margin-bottom: 10px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}

#related_log, .relation {
  line-height: 1.8;
  p{
    margin-bottom: 0;
  }
  .time {
    display: inline-block;
  }
}

//neighbor
.neighbor {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .prev, .next {
    width: 50%;
    float: left;
  }
}

//评论
.comment-box .comment-header {
  font-weight: bold;
}
.comment-box .comment {
  padding: 20px 0 20px 68px;
  border-bottom: 1px #f7f7f7 solid;
  overflow: hidden;
  height: 100%;
  zoom: 1;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.comment-box .comment .avatar {
  position: absolute;
  left: 0;
}
.comment-box .comment .avatar img {
  width: 48px;
  height: 48px;
}
.comment-box .comment-children {
  background-color: $dark-white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.comment-box .comment-children .avatar {
  left: 10px;
}
.comment-box .comment .comment-time {
  color: $sliver;
  display: inline;
}
.comment-box .comment .comment-content {
  margin: 10px 0;
}
.comment-box .comment .comment-post {
  margin: 15px 15px 0 0;
  background-color: #fff;
  padding: 15px;
}
.comment-info #comment-post {
  width: 90%;
}

// 打赏图片
.reward-btn {
  text-align: center;
  padding: 20px 0;
}
.i-reward {
  padding: 0 30px;
  height: 3em;
  line-height: 3em;
  color: $red;
  border-bottom: 1px solid $red;
  font-style: normal;
  text-align: center;
  display: inline-block;
}
.reward-pic {
  margin: 0 auto;
  width: 50%;
  overflow: hidden;
  img {
    width: 50%;
    float: left;
  }
}