//菜单
.menu {
  line-height: $menu-header;
}
.menu-item {
  float: left;
  position: relative;
  a {
    display: block;
    padding: 0 15px;
    color: rgba(255,255,255,.8);
    white-space: nowrap;
    font-size: 13px;
  }
  &:hover, &.active {
    color: #fff;
    background: rgba(255,255,255,.1);
  }
  &:hover .sub-menu,
  a:focus + .sub-menu {
    display: block;
    min-width: 100%;
  }

  .sub-menu {
    position: absolute;
    z-index: 999;
    background-color: $dark-black;
    display: none;
    line-height: 36px;
    color: #fff;
    box-shadow: 4px 5px 6px #ccc;
    a:hover {
      background-color: rgba(255,255,255,.1);
    }
    li {
      border-bottom: 1px solid rgba(255,255,255,.1);
    }
  }
}

/* 导航栏 */
.nav {
  background-color: $dark-black;
  color: #fff;
  .input {
    margin-top: 12px;
    background-color: $black;
    border-bottom-color: lighten($black, 10%);
    border-radius: 5px;
    width: 120px;
    &:focus {
      background-color: #fff;
      width: 150px;
      color: $black;
      transition: all .5s;
    }
  }
  input::-webkit-input-placeholder {
    color: #ccc;
  }
  .icon-menu {
    display: none;
  }
  // 修复导航栏由于内部的float而坍塌
  &:after {
    display: block;
    content: '';
    clear: both;
  }
  .pull-right {
    line-height: $menu-header;
  }
  .logo {
    float: left;
    line-height: $menu-header;
    margin-right: 10px;
    img {
      vertical-align: middle;
      margin-right: 10px;
    }
    &:hover {
      color: #fff;
    }
  }
}

/* nav粘贴效果 */
.headerFixed {
  padding-top: $menu-header;
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
}
