//菜单
$menu-header: 50px;
.menu {
  line-height: $menu-header;
}
.menu-item {
  float: left;
  position: relative;
  a {
    display: block;
    padding: 0 20px;
    color: inherit;
    white-space: nowrap;
  }
  &:hover, &.active {
    color: #fff;
    background-color: $light-black;
  }
  &:hover .sub-menu,
  a:focus + .sub-menu {
    display: block;
    min-width: 100%;
  }

  .sub-menu {
    position: absolute;
    z-index: 999;
    background-color: $light-black;
    display: none;
    a:hover {
      background-color: $black;
    }
  }
}

/* 导航栏 */
.nav {
  background-color: $black;
  color: $sliver;
  .input {
    margin-top: 10px;
    background-color: $black;
    border-bottom-color: $light-black;
    width: 120px;
    &:focus {
      background-color: #fff;
      width: 150px;
      transition: all .5s;
    }
  }
  .icon-menu {
    display: none;
  }
  // 修复导航栏由于内部的float而坍塌
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

/* nav粘贴效果 */
.headerFixed {
  padding-top: $menu-header;
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
}