// page product
.product {
  background-color: #fff;
  .p-content {
    margin: 20px auto;
  }
  .jumbotron {
    background-color: $black;
    height: 330px;
    color: #fff;
    .container {
      position: relative;
      height: 100%;
    }
  }
  h3.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1em;
  }
  h2.title {
    font-size: 36px;
    font-weight: bold;
    padding-top: 68px;
  }
  .slogan {
    margin-bottom: 3em;
  }
  .preview {
    position: absolute;
    right: 0;
    bottom: 30px;
    height: 260px;
    animation: slideDown 0.7s;
    box-shadow: 0 5px 30px 0 #181819;
  }
  .version {
    margin-left: 1em;
  }
}
@media all and (max-width: 960px) {
  .product {
    .preview {
      display: none;
    }
  }
}
