@media all and (max-width: 960px) {
  .headerFixed {
    padding-top: $mini-header-height;
    .nav {
      width: 100%;
      height: $mini-header-height;
      z-index: 998;
      .icon-menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 16px;
        z-index: 1000;
      }
      .menu {
        display: none;
        position: fixed;
        right: 0;
        top: 50px;
        width: 61.8%;
        height: 80%;
        box-sizing: border-box;
        background-color: $dark-black;
        z-index: 997;
        line-height: 40px;
        overflow-y: auto;
        li {
          float: none;
        }
      }
      .menu-item {
        .sub-menu {
          position: initial;
          display: block;
          width: 100%;
        }
      }
      .login-entry {
        display: none;
      }
    }
  }
  .edit {
    display: none;
  }
  .header {
    height: auto;
    padding: 20px;
    .avatar {
      margin-top: 0;
      margin-right: 20px;
    }
    .username {
      padding-top: 0;
    }
  }
  .search-bar {
    overflow: hidden;
    .search {
      width: 100%;
    }
    .logo {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
      margin-top: 0;
      line-height: $mini-header-height;
      height: $mini-header-height;
      color: #f3f5f6;
      text-align: center;
      white-space: nowrap;
      img {
        height: $mini-header-height - 10px;
      }
    }
  }
  .main.container {
    padding: 0;
  }
  .content-wrap {
    float: none;
  }
  .content {
    padding-right: 0;
  }
  .sidebar {
    display: none;
  }
  .footer {
    display: none;
    .widget {
      width: 100%;
      padding: 0;
    }
  }
  .copyright {
    margin-top: 15px;
  }
  .site-tools {
    bottom: 10px;
    right: 10px;
    margin-bottom: 0;
    .item {
      display: none;
    }
    .gotoup {
      width: 32px;
      height: 32px;
      line-height: 32px;
      .iconfont {
        font-size: 12px;
      }
    }
  }
  .neighbor {
    .prev, .next {
      width: 100%;
      float: none;
      margin-bottom: 10px;
    }
    .iconfont {
      display: none;
    }
  }
  .log_list_item {
    padding-left: 96px;
    .pic-link img {
      width: 64px;
      height: 64px;
    }
  }
  .log_list_mv .log_list_item,
  .log_list_img .log_list_item,
  .log_list_2 .log_list_item {
    width: 100%;
    height: auto;
    padding: 15px;
    .info {
      text-align: left;
      .fr {
        display: inline-block;
      }
    }
  }
  .log_list_mv .log_list_item .pic-link .play {
    display: block;
  }
  .log-title {
    font-size: 16px;
    text-align: left;
  }
  .log-info {
    text-align: left;
    font-size: 12px;
    padding: 3px 0;
    span {
      margin-right: 10px;
    }
  }
  .form-group .btn {
    width: 100%;
  }
  .col-md-4 {
    float: none;
    width: 100%;
  }
  .panel-body {
    padding: 15px;
  }
  .log-body h2 {
    padding: 5px 15px 5px 12px;
    left: -15px;
  }

  .b-tag {
    display: none;
  }
  .echo_log .b-tag {
    display: inline-block;
  }
  .relation-log li {
    width: 100%;
  }
}
