$danger: #FF4949;
$light-black: #1F2D3D;
$extra-light-black: #475669;
$dark-white: #F9FAFC;
$extra-light-grey: #EFF2F7;
$sliver: #8492A6;
$green: #13CE66;
$warning: #F7BA2A;
$blue: #20A0FF;

/* 移动端menu-box的高度 */
$mini-header-height: 50px;