.widget {
  margin-bottom: 15px;
  background-color: #fff;
  li {
    list-style-type: none;
    border-bottom: 1px solid $extra-light-grey;
    padding: 15px 0;
  }
  h3 {
    border-bottom: 1px solid $extra-light-grey;
    padding: 10px 15px;
    position: relative;
    &:after {
      position: absolute;
      bottom: -1px;
      display: block;
      content: '';
      width: 70px;
      height: 1px;
      background-color: $danger;
    }
  }
  ul {
    padding: 15px;
  }
  a {
    color: $black;
    &:hover {
      color: $danger;
    }
  }
  .widget-inner {
    padding: 15px;
  }
  .more {
    text-align: right;
    padding: 0 15px 15px;
    a {
      color: $black;
    }
  }
}

.widget_twitter {
  ul {
    margin-top: 15px;
  }
  li {
    overflow: hidden;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  .time {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.widget-comment {
  .comment-inner {
    padding-left: 55px;
    position: relative;
    .avatar {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
    }
    .username {
      font-style: normal;
      font-weight: bold;
    }
    .time {
      float: right;
      color: #999;
    }
    .comment-content {
      color: $extra-light-black;
    }
  }
  .comment-refer {
    margin: 10px 0;
    .iconfont {
      font-size: 22px;
      color: $danger;
      margin-right: 10px;
    }
    a {
      margin-left: 10px;
    }
  }
}

.widget-archive {
  ul {
    overflow: hidden;
  }
  li {
    float: left;
    width: 50%;
    border-bottom: none;
    padding: 5px 0;
  }
}

.widget-hot {
  img {
    width: 100%;
    &:hover {
      opacity: .8;
    }
  }
}

.widget-sorts {
  ul {
    overflow: hidden;
  }
  li {
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-bottom: none;
    a {
      display: block;
      width: 100%;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #E5E9F2;
      border-bottom: 1px solid #E5E9F2;
      &:hover {
        background-color: $extra-light-black;
        color: #fff;
      }
    }
  }
}

.widget-tags {
  .widget-tag {
    display: inline-block;
    width: 32%;
    box-sizing: border-box;
    padding: 5px 10px;
  }
}